.contact-content {
    display: flex;
    justify-content: space-evenly;
}

.contact-form {
    width: 500px;
    height: 600px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--background-navigation);

    border-radius: 1rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.contact-form form label input {
    height: 50px;
    width: 100%;
    padding: 0 1rem;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
}

.contact-form form label textarea {
    height: 170px;
    width: 100%;
    padding: 1rem;

    border: none;

    border-radius: 1rem;
    box-sizing: border-box;
}

.contact-form form button {
    height: 50px;

    font-weight: 700;

    border: none;
    background-color: #AFF9CF;
    color: #3D3226;
    border-radius: 1rem;
}

.contact-information-container {
    width: 500px;
    height: 200px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-information-image {
    width: 2rem;
    height: 2rem;
}

.contact-information-section {
    display: flex;
    margin: 1rem 0 0 0;
    align-items: center;
    gap: 1rem;
}

.contact-information-label {
   margin: 0;
}

.contact-information-image-container {
    display: flex;
    padding: 0.25rem;

    background-color: #D5F5E3;

    border-radius: 0.5rem;
}