p {
    margin: 0.5rem;
}

p a {
    color: var(--text-navigation-selected);
}

.offering {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #D5F5E3;
    padding: 2rem;
    border-radius: 1rem;
}

.text-on-background-primary {
    font-weight: 300;
}

h2.text-on-background-primary {
    font-weight: 400;
    text-align: center;
}

.center {
    text-align: center;
}

@media screen and (max-width: 1180px) {
    section {
        margin-top: 1rem;
    }

    .offering {
        margin: 0 1rem;
    }
}
