section {
    width: 80%;
}

.services {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    flex: 1;
    gap: 2rem;
    padding: 20px;
}

.service {
    background-color: #D5F5E3;

    padding: 20px;

    border-radius: 1rem;
}

h2.text-on-background-primary {
    text-align: center;
}