p {
    margin: 0.5rem;
}

p a {
    color: var(--text-navigation-selected);
}

.services {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: stretch;

    flex: 1;
    gap: 2rem;
}

.service {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #D5F5E3;
    padding: 1rem;

    border-radius: 1rem;
}

.text-on-background-primary {
    font-weight: 300;
}

h2.text-on-background-primary {
    font-weight: 400;
    text-align: center;
}

.center {
    text-align: center;
}

@media screen and (max-width: 1180px) {
    section {
        margin-top: 1rem;
    }

    .services {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 4rem;
    }
}