:root {
    --background-primary: #1A1A1A;
    --background-navigation: #FCEDA5;

    --text-primary: #E8E6E1;
    --text-secondary: #F8E89B;
    --text-tertiary: #F6FFC1;
    --text-on-background-primary: #3D3226;
    --text-navigation-unselected: #3D3226;
    --text-navigation-selected: #1A5F5F;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Ultra.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

html {
    width: 100%;
    /*margin: 0 auto;*/

    font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
}

body {
    width: 100%;

    margin: 0;

    background-color: var(--background-primary);
}

.hide {
    display: none;
}

button {
    font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

nav[role="navigation"] {
    position: sticky;
    top: 0;
    z-index: 9999;

    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-navigation);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#navigation-bar.lightbox-active {
    visibility: hidden;
}

#home-button {
    display: inline-flex;
    align-items: center;

    gap: 0.5rem;
}

#home-button img {
    max-width: fit-content;
}

nav div {
    width: 100%;
    height: 100%;

    padding: 1rem;

    display: flex;

    justify-content: space-between;
    align-items: center;

}

.navigation-list {
    width: 100%;
    height: 100%;

    padding-inline-start: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    gap: 1.5rem;
}

a {
    text-decoration: none;

    color: var(--text-navigation-unselected);
}

nav div ul li a:target {
    text-decoration: none;

    color: var(--text-navigation-selected);
}

section {
    width: 90%;

    margin: 2rem auto;
}

h1, h2, h3, p {
    color: var(--text-primary);

    font-weight: 400;
}

.text-on-background-primary {
   color: var(--text-on-background-primary);
}

.navigation-selected {
    color: var(--text-navigation-selected);
    font-weight: 700;
}

#home-button {
    height: 100%;
}

.home-image {
    width: 10rem;
    height: 100%;
}
